:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(105, 218, 243);
  font: 'fira sans';
}

header {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
